#Python
pycache/
*.pyc
*.pyo
*.pyd

#Virtual Environment
venv/
env/
.venv/

#Sleep Enforcer Lockfile
*.lock

#PyInstaller
build/
dist/

#VScode
.vscode/

# Old versions
sleep_enforcer(tk.toplevel version).py